%h1 Conference Registration is Closed
%h4
  Dear Writers:
  = "Registration for the #{@app_settings.contest_year} conference will open:"
  %p.m-3
    = @app_settings.opendate.to_s(:special_date)
  Please return to the
  = link_to "registration page", root_url
  after that date and time.

  %br
  %br
  Thank you.
  %br
  The Bear River Staff
