%h1 Step 1

= render 'form'

%br
= link_to 'Cancel', root_path, class: 'btn btn-sm btn-light'

%hr
%small.text-danger *
Required items

NOTE: A deposit of $100 is required to complete your registration. You can make payments via credit card only. Your preferred method of payment will be indicated in the second part of this form.

DEPOSITS ARE NON-REFUNDABLE
