%h1 Step 1

= render 'form'

%br
= link_to 'Cancel', root_path, class: 'btn btn-sm btn-light'

%hr
.text-center NOTE: A deposit of $100 is required to complete your registration. You can make payments via credit card only.
%br
.text-center.font-weight-bold DEPOSITS ARE NON-REFUNDABLE
