@import '~bootstrap/scss/bootstrap'
@import 'variables'
$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';
@import '~@fortawesome/fontawesome-free/scss/fontawesome'
@import '~@fortawesome/fontawesome-free/scss/regular'
@import '~@fortawesome/fontawesome-free/scss/solid'

@mixin setBgColorAndHover($baseColor)
    color: $baseColor
    &:hover
      color: darken($baseColor, 20%)

.application_content
  min-height: 400px
  margin-bottom: 200px
  clear: both

@import 'layout'
@import 'forms'
