body
  background-color: $primary-background-color
  color: $primary-text-color
  margin-bottom: 110px

footer
  font-size: .8rem
  margin-top: 10px
  background-color: $taubman_teal
  color: $bone
  height: 105px

  a
    +setBgColorAndHover($bone)

  .footer-col-rt
   // background-color: #233140
   padding-top: 10px

  .footer-col-lf
   // background-color: #2C3E50
   padding-top: 10px

  .copyright
    background-color: #fff
    color: black

.navbar-brand
  background-color: $um_blue
  padding: 5px
  border-radius: 2px

#nav-bar-logo
  height: 60px
  width: 300px
  border: solid $bone 1px
  border-radius: 4px

.dropdown
  border: $um_maize 2px outset
  border-radius: 7px

.transaction-receipt
  width: 22rem
